.MatchPage {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 20px;

  .year-section {
    justify-self: end;
    padding: 20px;
  }

  .match-page-heading {
    margin: 20px auto;
  }
}
