.TeamTile {
  height: 160px;
  border: 2px solid whitesmoke;
  text-align: center;
  padding: 30px;
  background: rgb(2, 0, 36);
}
.TeamTile:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(16, 129, 156, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
